<!--The content below is only a plac
  eholder and can be replaced.-->
<app-header></app-header>



  <!-- <app-proveedores></app-proveedores> -->
  <router-outlet></router-outlet>

  <!-- Footer -->
  <footer class="footer py-3 bg-dark fixed-bottom">
    <div class="container">
      <div class="row">
          <div class="col-md-6">
        <span class="small">Copyright  ©2018 JM_B.</span>
          </div>
          <div class="col-md-3"></div>
          <div class="col-md-3 text-right small align-self-end">
          
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">        
              <img alt="Licencia de Creative Commons" style="border-width:0" 
              src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
            </a>
          </div>
      </div>
    </div>
      <!-- /.container -->
  </footer>