<!-- <div class="container">
  <div class="row mx-auto"> -->
    <div class="card" style="width: 20rem;">
      <div class="card-header">
        <h4>Contrato </h4>
      </div>
      <div class="card-body">
        <p class="card-title"> {{ upload.name}} </p>
        <div class="row">
          <a href="{{upload.url}}" class="btn btn-primnary float-md-left">Ver Contrato
          <i class="fa fa-folder-open"></i>
          </a>
          <button class="btn btn-outline-danger float-md-right" 
          (click)="deleteContrato(upload)">Eliminar Contrato</button>
        </div> 
      </div>
    </div>
  <!-- </div>
</div> -->